@import url('https://fonts.cdnfonts.com/css/red-hat-mono');


body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body, header, footer {
	font-family: 'Red Hat Mono', sans-serif;
	/* background-color: #1B4D3E; */
}

.textDM {
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
}


p {
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	border-radius: 5px;
	padding: 5px;
}

p:hover {
	background-color: rgba(0, 0, 0, 1);
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 80px;
}

h3 {
	font-size: 60px;
}

h4 {
	font-size: 40px;
}

ul {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
	font-size: 30px;
	display: inline-block;
	clear: both;
	padding: 10px;
	border-radius: 30px;
	margin-left: 10px;
	font-family: Helvetica, Arial, sans-serif;
	border: solid 2px #86BB71;
	white-space:nowrap;
	margin-bottom: 10px;
	align-items: center;
}

.logoImg {
	width: 10vw;
}

#panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 20px;
	background: #002244;
	/* background-image: url(../img/bg.jpg); */
	/* background-size: 100% 100%; */
}


#panel > div > h2 {
	position: absolute;
	left: 30%;
	top: 30%;
	z-index: 1;
	/* background: rgba(255, 255, 255, 0.5); */
	color: white;
}

#panel > div > h4 {
	position: absolute;
	left: 30%;
	top: 45%;
	z-index: 1;
	color: white;
}

#media {
	position: fixed;
	bottom: 2%;
	left: 2%;
	display: inline-block;
	width: 20%;
	color: white;
}

#contact {
	position: fixed;
	top: 2%;
	right: 2%;
}

#projects {
	position: fixed;
	bottom: 2%;
	right: 2%;
}

#summary {
	position: fixed;
	top: 2%;
	left: 2%;
}

#section1 {
	background-color: #fff;
	color: black;
	width: 100%;
}

#section2 {
	background-color: #000;
	color: white;
}

#section3 {
	background-color: #006A4E;
	color: white;
}

#section5 {
	background-color: #000;
	color: white;
}

#section6 {
	background-color: #ffA500;
	color: black;
}

.columns {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.isHalf {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	height: 90vh;
}

.bg-green {
	background-color: #013220;
}

.bg-blue {
	background-color: #002244;
}

@keyframes slideLeft {
	from {
		transform: translateX(-50px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideRight {
	from {
		transform: translateX(50px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

.left {
	animation: slideLeft 1s linear forwards;
	/* animation-timeline: view(); */
	/* transform: translateX(-30px); */
}

.right {
	animation: slideRight 1s linear forwards;
	/* animation-timeline: view(); */
}


section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 120vh;
	margin: 0;
}

.eighty {
	width: 80%;
}

canvas {
	display: block;
	position: fixed;
	z-index: -1;
	top: 0;
	overflow: clipped;
}



/* To hide the checkbox */
#checkboxInput {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 40px;
  background-color: rgb(199, 199, 199);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .3s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0px;
  background: conic-gradient(rgb(104, 104, 104),white,rgb(104, 104, 104),white,rgb(104, 104, 104));
  border-radius: 50%;
  transition-duration: .3s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.308);
}

#checkboxInput:checked+.toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .3s;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
  background-color: rgb(153, 197, 151);
  transition-duration: .3s;
}

.code {
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	border-radius: 5px;
	padding: 20px;
}