

body {
	margin: 0;
	font-family: Helvetica;
	background-color: #1A1A1D;
	color: white;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 5rem;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;	
}

nav > a {
	font-size: 12px;
	font-weight: bold;
	margin-left: 2rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	font-family: georgia;
	color: #90EE90;
}

.search-form {
	display: flex;
	align-items: center;
	width: 50%;
}

.search-input {
	width: 100%;
	height: 2.5rem;
	border-radius: 20px;
	border: 0.5px solid;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 15px;
}

.search-btn {
	position: absolute;
}

.img-container {
	margin-left: 3rem;
}

.btn {
	border-radius: 10px;
	padding: 8px;
	background: #eee;
}

.category-img {
	height: 20vh;
	border-radius: 50%;
}

.category-img:hover {
	transform: scale(1.2);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row {
	display: flex;
	flex-direction: row;
}

.row:nth-child(odd) {
	animation: bounce 1s linear;
}

.row:nth-child(even) {
	animation: bounce 1.2s linear;
}

.prod {
	display: flex;
	flex-direction: column;
	height: 56vh;
	width: 18vw;
	border-radius: 20px;
	padding: 5px;
	
}

.prod:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.prod > img {
	height: 70%;
	width: 100%;
	border-radius: 20px;
}

.prod > p {
	margin-top: 5px;
	font-weight: bold;
	font-size: 16px;
	margin: 3px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 38vh;
	width: 15vw;
	border-radius: 20px;
	margin-left: 4px;
}

.wrapper > img {
	height: 100%;
	width: 100%;
	border-radius: 20px;
}

.wrapper:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes bounce {
	0% {
		transform: translateX(-30px);
		opacity: 0.5;
	}
	60% {
		transform: translateX(0px);
		opacity: 1;
	}
	70%{
		transform: translateX(10px);
	}
	80% {
		transform: translateX(0px);
	}
	90% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}

/* From Uiverse.io by satyamchaudharydev */ 
.card {
  width: 60%;
  height: auto;
  margin: 50px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border-radius: 20px;
}

.card > * {
  margin: 0;
}

.card__title {
  font-size: 23px;
  font-weight: 900;
  color: #333;
}

.card__content {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card__form input {
  margin-top: 10px;
  width: 80%;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid #333;
  color: black;
}

.card__form button {
  border: 0;
  background: #111;
  color: #fff;
  margin: 50px;
  width: 25%;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}

.card__form button:hover {
  opacity: 0.8;
} 


.card__img {
	width: 60%;
	border-radius: 10px;
}